<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
    <style>
        #container {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 300px;
            height: 200px;
            margin: auto;
            padding: 30px 50px;
            background: #fff;
        }

        h1 {
            font-size: 20px;
            text-align: center;
            margin-bottom: 20px;
            color: #000;
        }
    </style>
</head>

<body class="layui-bg-green">
    <div id="container">
        <h1>后台管理系统</h1>
        <form class="layui-form" method="post" action="{:url('index/login/login')}">
            <div class="layui-form-item">
                <input class="layui-input" name="username" type="text" placeholder="请输入用户名">
            </div>
            <div class="layui-form-item">
                <input class="layui-input" name="password" type="password" placeholder="请输入密码">
            </div>
            <div class="layui-form-item layui-row">
                <div class="layui-col-xs5">
                    <button class="layui-btn layui-btn-fluid layui-btn-primary">注册</button>
                </div>
                <div class="layui-col-xs5 layui-col-xs-offset2">
                    <button class="layui-btn layui-btn-fluid">登录</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>